Lv1. 머신러닝 기초 - 전처리
   
**전처리(Data Preprocessing)**   
우수한 예측 분석결과는 잘 정돈된 데이터에서 출발한다.   
즉, 정교한 예측 분석 모델을 얻기 위해서는 수집된 데이터의 누락된 부분, 오차 혹은 데이터 처리에 있어서 가공할 부분은 없는지 살펴보아야한다.   


데이터 전처리 종류
- 데이터 클리닝
- 데이터 통합
- 데이터 변환
- 데이터 축소
- 데이터 이산화

> 데이터의 결측치 및 이상치를 확인하거나 제거하고 불일치되는 부분을 일관성 있는 데이터의 형태로 전화하는 등의 과정을 **데이터 전처리**라고 한다.

##### 1. info ; 데이터 기본 정보 확인하기
DataFrame에 info()메소드를 사용하면, 피쳐들의 기본정보(결측치와 데이터 타입 등)를 확인할 수 있다.   
모델링에 앞서 결측치가 있다면, 결측치들을 어떻게 다뤄야 할 지 고민하고 처리하는 과정이 필요하다.

In [6]:
import pandas as pd
import numpy as np 

df = pd.DataFrame({
        'name': ['kwon', 'park', 'kim'],
        'age':[30, np.nan, 19],
        'class':[np.nan, np.nan, 1]
})

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     2 non-null      float64
 2   class   1 non-null      float64
dtypes: float64(2), object(1)
memory usage: 200.0+ bytes

##### 2. dropna, fillna ; 결측치 삭제, 대체
dropna()를 사용하면, 결측치를 갖는 행을 DataFrame객체에서 삭제한다.   
fillna()를 사용해 모든 결측치를 인자 값으로 대체할 수도 있다.

In [5]:
df.dropna()

  name   age  class
2  kim  19.0    1.0

In [10]:
df.fillna(100)

   name    age  class
0  kwon   30.0  100.0
1  park  100.0  100.0
2   kim   19.0    1.0